<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Create Actor</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="@{css/a-style.css}">
</head>

<body>
<section class="p-5 p-lg-0 text-center text-sm-start">
    <div class="mystyle1">
        <div class="container">
            <h1>Add new Actor</h1>
            <a class="btn btn-secondary my-2" th:href="@{/}">BACK</a>
            <form class="form-group p5" th:action="@{/submit}" th:object="${actor}" method="post">
                <input type="hidden" th:field="*{id}"/>
                <p><label for="firstName">First name</label>
                    <input type="text" class="form-control" th:field="*{firstName}" id="firstName"
                           placeholder="Enter name"/>
                    <span class="text-danger" th:if="${#fields.hasErrors('firstName')}"
                          th:errors="*{firstName}"> </span>
                </p>
                <p>
                    <label for="lastName">Last name</label>
                    <input type="text" class="form-control" th:field="*{lastName}" id="lastName"
                           placeholder="Enter lastname"/>
                    <span class="text-danger" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"> </span>
                </p>
                <p>
                    <label for="nationality">Nationality</label>
                    <input type="text" class="form-control" th:field="*{nationality}" id="nationality"
                           placeholder="Enter nationality"/>
                    <span class="text-danger" th:if="${#fields.hasErrors('nationality')}"
                          th:errors="*{nationality}"> </span></p>
                <p>
                    <label for="age">Age</label>
                    <input type="number" class="form-control" th:field="*{age}" id="age" placeholder="Enter age"/>
                    <span class="text-danger" th:if="${#fields.hasErrors('age')}" th:errors="*{age}"> </span></P>

                <p>
                    <label for="age">Gender: </label>
                    <select th:type="text" th:field="*{gender}">
                        <option value="">select</option>
                        <option th:each="gen : ${genderList}"
                                th:text="${gen.gender}"
                                th:value="${gen}"></option>
                        <span class="text-danger" th:if="${#fields.hasErrors('gender')}" th:errors="*{gender}"> </span>
                    </select>
                </p>
                <input class="btn btn-success my-2" type="submit" value="Submit"/>
            </form>
        </div>
    </div>
</section>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
        crossorigin="anonymous"></script>
</body>

</html>